[Unit]
Description=KMS activation using vlmcsd
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/vlmcsd -D -i /etc/vlmcsd/vlmcsd.ini
Restart=on-abort
KillSignal=SIGTERM
PIDFile=/run/vlmcsd/vlmcsd.pid

[Install]
WantedBy=multi-user.target
